.RandomCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
  }
  
.RandomMusicPage {
    text-align: center;
}

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
    width: 600px;
  }
  
  .RandomButton {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #0dc5cb; 
    border: none;
    color: white;
    border: 2px solid #0dc5cb;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .RandomButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
  }

  .CollectionButton {
    margin-bottom: 10px;
  }