.settings {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.row {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.row .label,
.row .value {
    display: block;
}

.row .label {
    flex: 1;
    font-weight: bold;
}

.row .value {
    flex: 3;
    padding: 0.35rem 0.35rem;
}

.optionText {
    font-size: 12px;
    font-weight: bold;
    padding: 0 0.75rem;
    margin: 0;
}