.settings {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    margin-top: 80px;
}

.row {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.row .label,
.row .value {
    display: block;
}

.row .label {
    flex: 1;
    font-weight: bold;
}

.row .value {
    flex: 3;
    padding: 0.35rem 0.35rem;
}

.optionText {
    font-size: 12px;
    font-weight: bold;
    padding: 0 0.75rem;
    margin: 0;
}
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggleSwitch {
    display: inline-block;
    background: #28292c;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggleCheckbox {
    position: absolute;
    visibility: hidden;
}