.userProfile-nav {
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.w50 {
  width: 50%;
  float: left;
  height: 100%;
}
.img-div .editIcon svg {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 30px;
}
.img-div {
  padding-left: 30px;
}
img.profile_image,
.img-div svg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: initial;
}
.align {
  margin-left: 10px;
}
