.userProfile-nav {
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:5rem
}

.w50 {
  width: 50%;
  float: left;
  height: 100%;
}
.editIcon {
  padding-left: 30px;
}
.img-div {
  padding-left: 30px;
}
.profile_image{
  width: 100px;
  height: 100px;
}
